body {
  font-family: "Lato", "Pretendard", "Dotum", sans-serif;
  font-size: 16px;
  color: #111;
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-track {
  background-color: #ccc;
}
body::-webkit-scrollbar-thumb {
  background-color: #111;
  border-radius: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.5;
}

button {
  border: none;
  background: none;
  outline: none;
  padding: 0;
}

.header {
  height: 60px;
  background-color: #fff;
}
.header .logo__link {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 20px;
}
.header .logo__img {
  height: 40px;
}
.header .btn--all {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
}
.header .btn--all span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #111;
  position: absolute;
  left: 15px;
  transition: all 0.25s ease;
}
.header .btn--all span:nth-child(1) {
  top: 19px;
}
.header .btn--all span:nth-child(2) {
  top: 29px;
}
.header .btn--all span:nth-child(3) {
  top: 39px;
}
.header.on .btn--all span:nth-child(1) {
  top: 29px;
  transform: rotate(45deg);
}
.header.on .btn--all span:nth-child(2) {
  opacity: 0;
  transform: translateX(-50px);
}
.header.on .btn--all span:nth-child(3) {
  top: 29px;
  transform: rotate(-45deg);
}